
  <div *ngFor="let alert of alertService.alerts">
    <alert [type]="alert.type" dismissOnTimeout="5000">{{alert.msg}}</alert>
  </div>

  <nav>
    <!--<a routerLink='/home' [innerHTML]="'home.link' | translate"></a>
    <a routerLink='/privacy' [innerHTML]="'privacy.link' | translate"></a>
    <a routerLink='/profile' [innerHTML]="'profile.link' | translate"></a>-->

    <div class="btn-group pull-right">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{translateService.currentLang}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click) = "setEnglish()">english</a></li>
        <li><a (click) = "setFrench()">français</a></li>
      </ul>
    </div>
  </nav>
  <div class="jumbotron">
    <div class="container">
      <h1>Yildiz-Online &lt;Alpha stage&gt; </h1>
      <h3 [innerHTML]="'menu.title' | translate"></h3>
      <button
        type="button"
        class="btn btn-primary btn-lg pull-right"
        (click)="openModal(template)"
        [innerHTML]="'menu.title.button.create' | translate">
      </button>
      <button
        type="button"
        class="btn btn-primary btn-lg pull-right"
        id="download-client"
        [innerHTML]="'menu.title.button.download' | translate">
      </button>
    </div>
  </div>

  <ng-template #template>
        <div class="modal-header">
          <button type="button" class="close" (click)="closeModal()">&times;</button>
          <h4 class="modal-title" [innerHTML]="'index.modal.create.title' | translate"></h4>
        </div>
        <div class="modal-body">
          <form data-toggle="validator" id="create-account-form">
            <div class="form-group">
              <input
                      #login
                      type="text"
                      class="form-control"
                      required
                      minlength="3"
                      maxlength="20"
                      placeholder="{{'index.modal.create.placeholder.login' | translate}}">
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
              <input
                      #password
                      type="password"
                      class="form-control"
                      required
                      minlength="5"
                      maxlength="20"
                      placeholder="{{'index.modal.create.placeholder.password' | translate}}">
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
              <input
                      #email
                      type="email"
                      class="form-control"
                      required
                      placeholder="{{'index.modal.create.placeholder.email' | translate}}">
              <div class="help-block with-errors"></div>
            </div>
            <button
                    type="submit"
                    class="btn btn-primary btn-lg"
                    id="create-account-send"
                    [innerHTML]="'index.modal.create.button' | translate"
                    (click)="createAccount(login.value, password.value, email.value); false;"
            ></button>
          </form>
        </div>
  </ng-template>
<main>
  <router-outlet></router-outlet>
</main>
