<nav class='navbar navbar-expand-md bg-faded fixed-top'>
  <a class='navbar-brand' routerLink="/news" routerLinkActive="active"><img src="assets/logo.png" class="logo" alt="Yildiz-Online"/></a>
  <div class='navbar-collapse collapse w-100'>
    <ul class='nav navbar-nav ml-auto w-100 justify-content-end'>
      <li class='nav-item'>
        <a routerLink="/create-account" routerLinkActive="active" class='nav-link' data-toggle="tooltip" data-placement="bottom" title="Getting started">Create a free account</a>
      </li>
    </ul>
  </div>
</nav>
